In [1]:
 import pandas as pd

# Calories- For all participants

In [2]:
load_calorie_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/calories_p01.csv'
load_calorie_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/calories_p02.csv'
load_calorie_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/calories_p03.csv'
load_calorie_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/calories_p04.csv'
load_calorie_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/calories_p05.csv'
load_calorie_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/calories_p06.csv'
load_calorie_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/calories_p07.csv'
load_calorie_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/calories_p08.csv'
load_calorie_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/calories_p09.csv'
load_calorie_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/calories_p10.csv'
load_calorie_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/calories_p11.csv'
load_calorie_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/calories_p12.csv'
load_calorie_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/calories_p13.csv'
load_calorie_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/calories_p14.csv'
load_calorie_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/calories_p15.csv'

In [3]:
calorie_p01= pd.read_csv(load_calorie_p01)
calorie_p02= pd.read_csv(load_calorie_p02)
calorie_p03= pd.read_csv(load_calorie_p03)
calorie_p04= pd.read_csv(load_calorie_p04)
calorie_p05= pd.read_csv(load_calorie_p05)
calorie_p06= pd.read_csv(load_calorie_p06)
calorie_p07= pd.read_csv(load_calorie_p07)
calorie_p08= pd.read_csv(load_calorie_p08)
calorie_p09= pd.read_csv(load_calorie_p09)
calorie_p10= pd.read_csv(load_calorie_p10)
calorie_p11= pd.read_csv(load_calorie_p11)
calorie_p12= pd.read_csv(load_calorie_p12)
calorie_p13= pd.read_csv(load_calorie_p13)
calorie_p14= pd.read_csv(load_calorie_p14)
calorie_p15= pd.read_csv(load_calorie_p15)

In [4]:
# Merrging all participant Calories
calories= pd.concat([calorie_p01, calorie_p02, calorie_p03, calorie_p04, calorie_p05, calorie_p06, calorie_p07,
                    calorie_p08, calorie_p09, calorie_p10, calorie_p11, calorie_p12, calorie_p13,
                    calorie_p14, calorie_p15])
print(calories.shape)
calories

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01       1160.0            p01
1    2020-04-02        907.0            p01
2    2020-04-03        902.0            p01
3    2020-04-04        950.0            p01
4    2020-04-05       1154.0            p01
..          ...          ...            ...
389  2021-04-25        846.0            p15
390  2021-04-26        849.0            p15
391  2021-04-27        801.0            p15
392  2021-04-28        902.0            p15
393  2021-04-29         77.0            p15

[5910 rows x 3 columns]

In [5]:
#calories= calories.drop(['hour', 'day', 'month'], axis = 1)
print(calories.shape)
calories

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01       1160.0            p01
1    2020-04-02        907.0            p01
2    2020-04-03        902.0            p01
3    2020-04-04        950.0            p01
4    2020-04-05       1154.0            p01
..          ...          ...            ...
389  2021-04-25        846.0            p15
390  2021-04-26        849.0            p15
391  2021-04-27        801.0            p15
392  2021-04-28        902.0            p15
393  2021-04-29         77.0            p15

[5910 rows x 3 columns]

In [6]:
# saving Calories file to csv
file_to_save1 = calories.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/calories_ML.csv', index = False)

# Steps - For all participants

In [7]:
load_steps_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/steps_p01.csv'
load_steps_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/steps_p02.csv'
load_steps_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/steps_p03.csv'
load_steps_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/steps_p04.csv'
load_steps_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/steps_p05.csv'
load_steps_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/steps_p06.csv'
load_steps_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/steps_p07.csv'
load_steps_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/steps_p08.csv'
load_steps_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/steps_p09.csv'
load_steps_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/steps_p10.csv'
load_steps_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/steps_p11.csv'
load_steps_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/steps_p12.csv'
load_steps_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/steps_p13.csv'
load_steps_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/steps_p14.csv'
load_steps_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/steps_p15.csv'

In [8]:
steps_p01= pd.read_csv(load_steps_p01)
steps_p02= pd.read_csv(load_steps_p02)
steps_p03= pd.read_csv(load_steps_p03)
steps_p04= pd.read_csv(load_steps_p04)
steps_p05= pd.read_csv(load_steps_p05)
steps_p06= pd.read_csv(load_steps_p06)
steps_p07= pd.read_csv(load_steps_p07)
steps_p08= pd.read_csv(load_steps_p08)
steps_p09= pd.read_csv(load_steps_p09)
steps_p10= pd.read_csv(load_steps_p10)
steps_p11= pd.read_csv(load_steps_p11)
steps_p12= pd.read_csv(load_steps_p12)
steps_p13= pd.read_csv(load_steps_p13)
steps_p14= pd.read_csv(load_steps_p14)
steps_p15= pd.read_csv(load_steps_p15)

In [9]:
# Merrging all participant steps
steps= pd.concat([steps_p01, steps_p02, steps_p03, steps_p04, steps_p05, steps_p06, steps_p07,
                    steps_p08, steps_p09, steps_p10, steps_p11, steps_p12, steps_p13,
                    steps_p14, steps_p15])
print(steps.shape)
steps

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01       4537.0            p01
1    2020-04-02       2558.0            p01
2    2020-04-03       2726.0            p01
3    2020-04-04       2711.0            p01
4    2020-04-05       4002.0            p01
..          ...          ...            ...
389  2021-04-25       5325.0            p15
390  2021-04-26       5399.0            p15
391  2021-04-27       4467.0            p15
392  2021-04-28       5235.0            p15
393  2021-04-29          0.0            p15

[5910 rows x 3 columns]

In [10]:
#steps= steps.drop(['hour', 'day', 'month'], axis = 1)
print(steps.shape)
steps

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01       4537.0            p01
1    2020-04-02       2558.0            p01
2    2020-04-03       2726.0            p01
3    2020-04-04       2711.0            p01
4    2020-04-05       4002.0            p01
..          ...          ...            ...
389  2021-04-25       5325.0            p15
390  2021-04-26       5399.0            p15
391  2021-04-27       4467.0            p15
392  2021-04-28       5235.0            p15
393  2021-04-29          0.0            p15

[5910 rows x 3 columns]

In [11]:
# saving steps file to csv
file_to_save2 = steps.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/steps_ML.csv', index = False)

# Distance - For all Participants

In [12]:
load_distance_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/distance_p01.csv'
load_distance_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/distance_p02.csv'
load_distance_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/distance_p03.csv'
load_distance_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/distance_p04.csv'
load_distance_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/distance_p05.csv'
load_distance_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/distance_p06.csv'
load_distance_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/distance_p07.csv'
load_distance_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/distance_p08.csv'
load_distance_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/distance_p09.csv'
load_distance_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/distance_p10.csv'
load_distance_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/distance_p11.csv'
load_distance_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/distance_p12.csv'
load_distance_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/distance_p13.csv'
load_distance_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/distance_p14.csv'
load_distance_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/distance_p15.csv'

In [13]:
distance_p01= pd.read_csv(load_distance_p01)
distance_p02= pd.read_csv(load_distance_p02)
distance_p03= pd.read_csv(load_distance_p03)
distance_p04= pd.read_csv(load_distance_p04)
distance_p05= pd.read_csv(load_distance_p05)
distance_p06= pd.read_csv(load_distance_p06)
distance_p07= pd.read_csv(load_distance_p07)
distance_p08= pd.read_csv(load_distance_p08)
distance_p09= pd.read_csv(load_distance_p09)
distance_p10= pd.read_csv(load_distance_p10)
distance_p11= pd.read_csv(load_distance_p11)
distance_p12= pd.read_csv(load_distance_p12)
distance_p13= pd.read_csv(load_distance_p13)
distance_p14= pd.read_csv(load_distance_p14)
distance_p15= pd.read_csv(load_distance_p15)

In [14]:
# Merrging all participant distance
distance= pd.concat([distance_p01, distance_p02, distance_p03, distance_p04, distance_p05, distance_p06, distance_p07,
                    distance_p08, distance_p09, distance_p10, distance_p11, distance_p12, distance_p13,
                    distance_p14, distance_p15])
print(distance.shape)
distance

(5910, 6)

       datetime  hour  day  month  predictions Participant_ID
0    2020-04-01     0    1      4      25469.0            p01
1    2020-04-02     0    0      0          0.0            p01
2    2020-04-03     0    3      4       5327.0            p01
3    2020-04-04     0    4      4        399.0            p01
4    2020-04-05     0    5      4       1607.0            p01
..          ...   ...  ...    ...          ...            ...
389  2021-04-25     0    0      0          0.0            p15
390  2021-04-26     0   26      4       5791.0            p15
391  2021-04-27     0   27      4       2780.0            p15
392  2021-04-28     0    0      0          0.0            p15
393  2021-04-29     0    0      0          0.0            p15

[5910 rows x 6 columns]

In [15]:
distance= distance.drop(['hour', 'day', 'month'], axis = 1)
print(distance.shape)
distance

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01      25469.0            p01
1    2020-04-02          0.0            p01
2    2020-04-03       5327.0            p01
3    2020-04-04        399.0            p01
4    2020-04-05       1607.0            p01
..          ...          ...            ...
389  2021-04-25          0.0            p15
390  2021-04-26       5791.0            p15
391  2021-04-27       2780.0            p15
392  2021-04-28          0.0            p15
393  2021-04-29          0.0            p15

[5910 rows x 3 columns]

In [16]:
# saving distance file to csv
file_to_save3 = distance.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/distance_ML.csv', index = False)

# Active Duration - For all Participants

In [17]:
load_active_duration_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/active_duration_p01.csv'
load_active_duration_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/active_duration_p02.csv'
load_active_duration_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/active_duration_p03.csv'
load_active_duration_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/active_duration_p04.csv'
load_active_duration_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/active_duration_p05.csv'
load_active_duration_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/active_duration_p06.csv'
load_active_duration_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/active_duration_p07.csv'
load_active_duration_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/active_duration_p08.csv'
load_active_duration_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/active_duration_p09.csv'
load_active_duration_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/active_duration_p10.csv'
load_active_duration_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/active_duration_p11.csv'
load_active_duration_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/active_duration_p12.csv'
load_active_duration_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/active_duration_p13.csv'
load_active_duration_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/active_duration_p14.csv'
load_active_duration_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/active_duration_p15.csv'

In [18]:
active_duration_p01= pd.read_csv(load_active_duration_p01)
active_duration_p02= pd.read_csv(load_active_duration_p02)
active_duration_p03= pd.read_csv(load_active_duration_p03)
active_duration_p04= pd.read_csv(load_active_duration_p04)
active_duration_p05= pd.read_csv(load_active_duration_p05)
active_duration_p06= pd.read_csv(load_active_duration_p06)
active_duration_p07= pd.read_csv(load_active_duration_p07)
active_duration_p08= pd.read_csv(load_active_duration_p08)
active_duration_p09= pd.read_csv(load_active_duration_p09)
active_duration_p10= pd.read_csv(load_active_duration_p10)
active_duration_p11= pd.read_csv(load_active_duration_p11)
active_duration_p12= pd.read_csv(load_active_duration_p12)
active_duration_p13= pd.read_csv(load_active_duration_p13)
active_duration_p14= pd.read_csv(load_active_duration_p14)
active_duration_p15= pd.read_csv(load_active_duration_p15)

In [19]:
# Merrging all participant active_duration
active_duration= pd.concat([active_duration_p01, active_duration_p02, active_duration_p03, active_duration_p04, active_duration_p05, active_duration_p06, active_duration_p07,
                    active_duration_p08, active_duration_p09, active_duration_p10, active_duration_p11, active_duration_p12, active_duration_p13,
                    active_duration_p14, active_duration_p15])
print(active_duration.shape)
active_duration

(5910, 6)

       datetime  hour  day  month  predictions Participant_ID
0    2020-04-01     0    1      4         31.0            p01
1    2020-04-02     0    2      4         31.0            p01
2    2020-04-03     0    3      4         31.0            p01
3    2020-04-04     0    4      4         31.0            p01
4    2020-04-05     0    5      4         31.0            p01
..          ...   ...  ...    ...          ...            ...
389  2021-04-25     0   25      4         51.0            p15
390  2021-04-26     0   26      4         51.0            p15
391  2021-04-27     0   27      4         51.0            p15
392  2021-04-28     0   28      4         51.0            p15
393  2021-04-29     0   29      4         51.0            p15

[5910 rows x 6 columns]

In [20]:
active_duration= active_duration.drop(['hour', 'day', 'month'], axis = 1)
print(active_duration.shape)
active_duration

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01         31.0            p01
1    2020-04-02         31.0            p01
2    2020-04-03         31.0            p01
3    2020-04-04         31.0            p01
4    2020-04-05         31.0            p01
..          ...          ...            ...
389  2021-04-25         51.0            p15
390  2021-04-26         51.0            p15
391  2021-04-27         51.0            p15
392  2021-04-28         51.0            p15
393  2021-04-29         51.0            p15

[5910 rows x 3 columns]

In [21]:
# saving active_duration file to csv
file_to_save4 = active_duration.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/active_duration_ML.csv', index = False)

# Avg. Active Heart - For all Participants

In [22]:
load_active_heart_rate_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/avg_active_heart_rate_p01.csv'
load_active_heart_rate_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/avg_active_heart_rate_p02.csv'
load_active_heart_rate_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/avg_active_heart_rate_p03.csv'
load_active_heart_rate_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/avg_active_heart_rate_p04.csv'
load_active_heart_rate_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/avg_active_heart_rate_p05.csv'
load_active_heart_rate_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/avg_active_heart_rate_p06.csv'
load_active_heart_rate_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/avg_active_heart_rate_p07.csv'
load_active_heart_rate_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/avg_active_heart_rate_p08.csv'
load_active_heart_rate_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/avg_active_heart_rate_p09.csv'
load_active_heart_rate_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/avg_active_heart_rate_p10.csv'
load_active_heart_rate_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/avg_active_heart_rate_p11.csv'
load_active_heart_rate_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/avg_active_heart_rate_p12.csv'
load_active_heart_rate_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/avg_active_heart_rate_p13.csv'
load_active_heart_rate_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/avg_active_heart_rate_p14.csv'
load_active_heart_rate_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/avg_active_heart_rate_p15.csv'

In [23]:
active_heart_rate_p01= pd.read_csv(load_active_heart_rate_p01)
active_heart_rate_p02= pd.read_csv(load_active_heart_rate_p02)
active_heart_rate_p03= pd.read_csv(load_active_heart_rate_p03)
active_heart_rate_p04= pd.read_csv(load_active_heart_rate_p04)
active_heart_rate_p05= pd.read_csv(load_active_heart_rate_p05)
active_heart_rate_p06= pd.read_csv(load_active_heart_rate_p06)
active_heart_rate_p07= pd.read_csv(load_active_heart_rate_p07)
active_heart_rate_p08= pd.read_csv(load_active_heart_rate_p08)
active_heart_rate_p09= pd.read_csv(load_active_heart_rate_p09)
active_heart_rate_p10= pd.read_csv(load_active_heart_rate_p10)
active_heart_rate_p11= pd.read_csv(load_active_heart_rate_p11)
active_heart_rate_p12= pd.read_csv(load_active_heart_rate_p12)
active_heart_rate_p13= pd.read_csv(load_active_heart_rate_p13)
active_heart_rate_p14= pd.read_csv(load_active_heart_rate_p14)
active_heart_rate_p15= pd.read_csv(load_active_heart_rate_p15)

In [24]:
# Merrging all participant active_heart_rate
active_heart_rate= pd.concat([active_heart_rate_p01, active_heart_rate_p02, active_heart_rate_p03, active_heart_rate_p04, 
                              active_heart_rate_p05, active_heart_rate_p06, active_heart_rate_p07,active_heart_rate_p08, 
                              active_heart_rate_p09, active_heart_rate_p10, active_heart_rate_p11, active_heart_rate_p12, 
                              active_heart_rate_p13, active_heart_rate_p14, active_heart_rate_p15])
print(active_heart_rate.shape)
active_heart_rate

(5910, 6)

       datetime  hour  day  month  predictions Participant_ID
0    2020-04-01     0    1      4        109.0            p01
1    2020-04-02     0    2      4        109.0            p01
2    2020-04-03     0    3      4        109.0            p01
3    2020-04-04     0    4      4        109.0            p01
4    2020-04-05     0    5      4        109.0            p01
..          ...   ...  ...    ...          ...            ...
389  2021-04-25     0   25      4        101.0            p15
390  2021-04-26     0   26      4        101.0            p15
391  2021-04-27     0   27      4        101.0            p15
392  2021-04-28     0   28      4        101.0            p15
393  2021-04-29     0   29      4        101.0            p15

[5910 rows x 6 columns]

In [25]:
active_heart_rate= active_heart_rate.drop(['hour', 'day', 'month'], axis = 1)
print(active_heart_rate.shape)
active_heart_rate

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01        109.0            p01
1    2020-04-02        109.0            p01
2    2020-04-03        109.0            p01
3    2020-04-04        109.0            p01
4    2020-04-05        109.0            p01
..          ...          ...            ...
389  2021-04-25        101.0            p15
390  2021-04-26        101.0            p15
391  2021-04-27        101.0            p15
392  2021-04-28        101.0            p15
393  2021-04-29        101.0            p15

[5910 rows x 3 columns]

In [26]:
# saving active_heart_rate file to csv
file_to_save4 = active_heart_rate.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/active_heart_rate_ML.csv', index = False)

# Sleep - For all Participant

In [27]:
load_sleep_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/sleep_p01.csv'
load_sleep_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/sleep_p02.csv'
load_sleep_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/sleep_p03.csv'
load_sleep_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/sleep_p04.csv'
load_sleep_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/sleep_p05.csv'
load_sleep_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/sleep_p06.csv'
load_sleep_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/sleep_p07.csv'
load_sleep_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/sleep_p08.csv'
load_sleep_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/sleep_p09.csv'
load_sleep_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/sleep_p10.csv'
load_sleep_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/sleep_p11.csv'
load_sleep_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/sleep_p12.csv'
load_sleep_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/sleep_p13.csv'
load_sleep_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/sleep_p14.csv'
load_sleep_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/sleep_p15.csv'

In [28]:
sleep_p01= pd.read_csv(load_sleep_p01)
sleep_p02= pd.read_csv(load_sleep_p02)
sleep_p03= pd.read_csv(load_sleep_p03)
sleep_p04= pd.read_csv(load_sleep_p04)
sleep_p05= pd.read_csv(load_sleep_p05)
sleep_p06= pd.read_csv(load_sleep_p06)
sleep_p07= pd.read_csv(load_sleep_p07)
sleep_p08= pd.read_csv(load_sleep_p08)
sleep_p09= pd.read_csv(load_sleep_p09)
sleep_p10= pd.read_csv(load_sleep_p10)
sleep_p11= pd.read_csv(load_sleep_p11)
sleep_p12= pd.read_csv(load_sleep_p12)
sleep_p13= pd.read_csv(load_sleep_p13)
sleep_p14= pd.read_csv(load_sleep_p14)
sleep_p15= pd.read_csv(load_sleep_p15)

In [29]:
# Merrging all participant sleeps
sleep= pd.concat([sleep_p01, sleep_p02, sleep_p03, sleep_p04, sleep_p05, sleep_p06, sleep_p07,
                    sleep_p08, sleep_p09, sleep_p10, sleep_p11, sleep_p12, sleep_p13,
                    sleep_p14, sleep_p15])
print(sleep.shape)
sleep

(5910, 5)

       datetime  day  month  predictions Participant_ID
0    2020-04-01    1      4        352.0            p01
1    2020-04-02    2      4        352.0            p01
2    2020-04-03    3      4        352.0            p01
3    2020-04-04    4      4        352.0            p01
4    2020-04-05    5      4        352.0            p01
..          ...  ...    ...          ...            ...
389  2021-04-25   25      4        462.0            p15
390  2021-04-26   26      4        462.0            p15
391  2021-04-27   27      4        462.0            p15
392  2021-04-28   28      4        462.0            p15
393  2021-04-29   29      4        462.0            p15

[5910 rows x 5 columns]

In [30]:
sleep= sleep.drop(['day', 'month'], axis = 1)
print(sleep.shape)
sleep

(5910, 3)

       datetime  predictions Participant_ID
0    2020-04-01        352.0            p01
1    2020-04-02        352.0            p01
2    2020-04-03        352.0            p01
3    2020-04-04        352.0            p01
4    2020-04-05        352.0            p01
..          ...          ...            ...
389  2021-04-25        462.0            p15
390  2021-04-26        462.0            p15
391  2021-04-27        462.0            p15
392  2021-04-28        462.0            p15
393  2021-04-29        462.0            p15

[5910 rows x 3 columns]

In [31]:
# saving sleep file to csv
file_to_save5 = sleep.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/sleep_ML.csv', index = False)

# Resting Heart Rate - For all Participants

In [32]:
load_resting_heartrate_p01 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p01/resting_heart_rate_p01.csv'
load_resting_heartrate_p02 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p02/resting_heart_rate_p02.csv'
load_resting_heartrate_p03 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p03/resting_heart_rate_p03.csv'
load_resting_heartrate_p04 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p04/resting_heart_rate_p04.csv'
load_resting_heartrate_p05 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p05/resting_heart_rate_p05.csv'
load_resting_heartrate_p06 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p06/resting_heart_rate_p06.csv'
load_resting_heartrate_p07 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p07/resting_heart_rate_p07.csv'
load_resting_heartrate_p08 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p08/resting_heart_rate_p08.csv'
load_resting_heartrate_p09 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p09/resting_heart_rate_p09.csv'
load_resting_heartrate_p10 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p10/resting_heart_rate_p10.csv'
load_resting_heartrate_p11 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p11/resting_heart_rate_p11.csv'
#load_resting_heartrate_p12 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p12/resting_heart_rate_p12.csv'
#load_resting_heartrate_p13 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p13/resting_heart_rate_p13.csv'
load_resting_heartrate_p14 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p14/resting_heart_rate_p14.csv'
load_resting_heartrate_p15 = '../Resource/dataset/csv/for_machine_learning/predicted_values_csv/p15/resting_heart_rate_p15.csv'

In [33]:
resting_heartrate_p01= pd.read_csv(load_resting_heartrate_p01)
resting_heartrate_p02= pd.read_csv(load_resting_heartrate_p02)
resting_heartrate_p03= pd.read_csv(load_resting_heartrate_p03)
resting_heartrate_p04= pd.read_csv(load_resting_heartrate_p04)
resting_heartrate_p05= pd.read_csv(load_resting_heartrate_p05)
resting_heartrate_p06= pd.read_csv(load_resting_heartrate_p06)
resting_heartrate_p07= pd.read_csv(load_resting_heartrate_p07)
resting_heartrate_p08= pd.read_csv(load_resting_heartrate_p08)
resting_heartrate_p09= pd.read_csv(load_resting_heartrate_p09)
resting_heartrate_p10= pd.read_csv(load_resting_heartrate_p10)
resting_heartrate_p11= pd.read_csv(load_resting_heartrate_p11)
#resting_heartrate_p12= pd.read_csv(load_resting_heartrate_p12)
#resting_heartrate_p13= pd.read_csv(load_resting_heartrate_p13)
resting_heartrate_p14= pd.read_csv(load_resting_heartrate_p14)
resting_heartrate_p15= pd.read_csv(load_resting_heartrate_p15)

In [34]:
# Merrging all participant resting_heartrates
resting_heartrate= pd.concat([resting_heartrate_p01, resting_heartrate_p02, resting_heartrate_p03, resting_heartrate_p04, 
                              resting_heartrate_p05, resting_heartrate_p06, resting_heartrate_p07,resting_heartrate_p08, 
                              resting_heartrate_p09, resting_heartrate_p10, resting_heartrate_p11, resting_heartrate_p14, 
                              resting_heartrate_p15])
print(resting_heartrate.shape)
resting_heartrate

(5122, 5)

       datetime  day  month  predictions Participant_ID
0    2020-04-01    1      4         53.0            p01
1    2020-04-02    2      4         53.0            p01
2    2020-04-03    3      4         53.0            p01
3    2020-04-04    4      4         53.0            p01
4    2020-04-05    5      4         53.0            p01
..          ...  ...    ...          ...            ...
389  2021-04-25   25      4         54.0            p15
390  2021-04-26   26      4         54.0            p15
391  2021-04-27   27      4         54.0            p15
392  2021-04-28   28      4         54.0            p15
393  2021-04-29   29      4         54.0            p15

[5122 rows x 5 columns]

In [35]:
resting_heartrate= resting_heartrate.drop(['day', 'month'], axis = 1)
print(resting_heartrate.shape)
resting_heartrate

(5122, 3)

       datetime  predictions Participant_ID
0    2020-04-01         53.0            p01
1    2020-04-02         53.0            p01
2    2020-04-03         53.0            p01
3    2020-04-04         53.0            p01
4    2020-04-05         53.0            p01
..          ...          ...            ...
389  2021-04-25         54.0            p15
390  2021-04-26         54.0            p15
391  2021-04-27         54.0            p15
392  2021-04-28         54.0            p15
393  2021-04-29         54.0            p15

[5122 rows x 3 columns]

In [36]:
# saving resting_heartrate file to csv
file_to_save7 = resting_heartrate.to_csv(r'../Resource/dataset/csv/for_machine_learning/merged_predicted_values/resting_heartrate_ML.csv', index = False)