In [8]:
import pandas as pd

# Calories- For all participants

In [9]:
load_calorie_p01 = '../Resource/dataset/csv/cleaned_csv/p01/calories_p01.csv'
load_calorie_p02 = '../Resource/dataset/csv/cleaned_csv/p02/calories_p02.csv'
load_calorie_p03 = '../Resource/dataset/csv/cleaned_csv/p03/calories_p03.csv'
load_calorie_p04 = '../Resource/dataset/csv/cleaned_csv/p04/calories_p04.csv'
load_calorie_p05 = '../Resource/dataset/csv/cleaned_csv/p05/calories_p05.csv'
load_calorie_p06 = '../Resource/dataset/csv/cleaned_csv/p06/calories_p06.csv'
load_calorie_p07 = '../Resource/dataset/csv/cleaned_csv/p07/calories_p07.csv'
load_calorie_p08 = '../Resource/dataset/csv/cleaned_csv/p08/calories_p08.csv'
load_calorie_p09 = '../Resource/dataset/csv/cleaned_csv/p09/calories_p09.csv'
load_calorie_p10 = '../Resource/dataset/csv/cleaned_csv/p10/calories_p10.csv'
load_calorie_p11 = '../Resource/dataset/csv/cleaned_csv/p11/calories_p11.csv'
load_calorie_p12 = '../Resource/dataset/csv/cleaned_csv/p12/calories_p12.csv'
load_calorie_p13 = '../Resource/dataset/csv/cleaned_csv/p13/calories_p13.csv'
load_calorie_p14 = '../Resource/dataset/csv/cleaned_csv/p14/calories_p14.csv'
load_calorie_p15 = '../Resource/dataset/csv/cleaned_csv/p15/calories_p15.csv'
load_calorie_p16 = '../Resource/dataset/csv/cleaned_csv/p16/calories_p16.csv'

In [10]:
calorie_p01= pd.read_csv(load_calorie_p01)
calorie_p02= pd.read_csv(load_calorie_p02)
calorie_p03= pd.read_csv(load_calorie_p03)
calorie_p04= pd.read_csv(load_calorie_p04)
calorie_p05= pd.read_csv(load_calorie_p05)
calorie_p06= pd.read_csv(load_calorie_p06)
calorie_p07= pd.read_csv(load_calorie_p07)
calorie_p08= pd.read_csv(load_calorie_p08)
calorie_p09= pd.read_csv(load_calorie_p09)
calorie_p10= pd.read_csv(load_calorie_p10)
calorie_p11= pd.read_csv(load_calorie_p11)
calorie_p12= pd.read_csv(load_calorie_p12)
calorie_p13= pd.read_csv(load_calorie_p13)
calorie_p14= pd.read_csv(load_calorie_p14)
calorie_p15= pd.read_csv(load_calorie_p15)
calorie_p16= pd.read_csv(load_calorie_p16)

In [11]:
print(calorie_p01.shape)
print(calorie_p02.shape)
print(calorie_p03.shape)
print(calorie_p04.shape)
print(calorie_p05.shape)
print(calorie_p06.shape)
print(calorie_p07.shape)
print(calorie_p08.shape)
print(calorie_p09.shape)
print(calorie_p10.shape)
print(calorie_p11.shape)
print(calorie_p12.shape)
print(calorie_p13.shape)
print(calorie_p14.shape)
print(calorie_p15.shape)
print(calorie_p16.shape)

(117, 3)
(136, 3)
(47, 3)
(116, 3)
(86, 3)
(89, 3)
(124, 3)
(122, 3)
(37, 3)
(83, 3)
(61, 3)
(55, 3)
(29, 3)
(116, 3)
(136, 3)
(18, 3)

In [12]:
# Merrging all participant Calories
calories= pd.concat([calorie_p01, calorie_p02, calorie_p03, calorie_p04, calorie_p05, calorie_p06, calorie_p07,
                    calorie_p08, calorie_p09, calorie_p10, calorie_p11, calorie_p12, calorie_p13,
                    calorie_p14, calorie_p15, calorie_p16])
print(calories.shape)
calories

(1372, 3)

   Participant_ID       Dates  Calories
0             p01  2019-11-01       494
1             p01  2019-11-02       354
2             p01  2019-11-04       145
3             p01  2019-11-05       517
4             p01  2019-11-08       252
..            ...         ...       ...
13            p16  2020-02-22       372
14            p16  2020-03-09        92
15            p16  2020-03-16        95
16            p16  2020-03-20       109
17            p16  2020-03-29        75

[1372 rows x 3 columns]

In [13]:
# saving Calories file to csv
file_to_save1 = calories.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/calories.csv', index = False)

#  Steps - For all participants

In [14]:
load_steps_p01 = '../Resource/dataset/csv/cleaned_csv/p01/steps_p01.csv'
load_steps_p02 = '../Resource/dataset/csv/cleaned_csv/p02/steps_p02.csv'
load_steps_p03 = '../Resource/dataset/csv/cleaned_csv/p03/steps_p03.csv'
load_steps_p04 = '../Resource/dataset/csv/cleaned_csv/p04/steps_p04.csv'
load_steps_p05 = '../Resource/dataset/csv/cleaned_csv/p05/steps_p05.csv'
load_steps_p06 = '../Resource/dataset/csv/cleaned_csv/p06/steps_p06.csv'
load_steps_p07 = '../Resource/dataset/csv/cleaned_csv/p07/steps_p07.csv'
load_steps_p08 = '../Resource/dataset/csv/cleaned_csv/p08/steps_p08.csv'
load_steps_p09 = '../Resource/dataset/csv/cleaned_csv/p09/steps_p09.csv'
load_steps_p10 = '../Resource/dataset/csv/cleaned_csv/p10/steps_p10.csv'
load_steps_p11 = '../Resource/dataset/csv/cleaned_csv/p11/steps_p11.csv'
load_steps_p12 = '../Resource/dataset/csv/cleaned_csv/p12/steps_p12.csv'
load_steps_p13 = '../Resource/dataset/csv/cleaned_csv/p13/steps_p13.csv'
load_steps_p14 = '../Resource/dataset/csv/cleaned_csv/p14/steps_p14.csv'
load_steps_p15 = '../Resource/dataset/csv/cleaned_csv/p15/steps_p15.csv'
load_steps_p16 = '../Resource/dataset/csv/cleaned_csv/p16/steps_p16.csv'

In [15]:
steps_p01= pd.read_csv(load_steps_p01)
steps_p02= pd.read_csv(load_steps_p02)
steps_p03= pd.read_csv(load_steps_p03)
steps_p04= pd.read_csv(load_steps_p04)
steps_p05= pd.read_csv(load_steps_p05)
steps_p06= pd.read_csv(load_steps_p06)
steps_p07= pd.read_csv(load_steps_p07)
steps_p08= pd.read_csv(load_steps_p08)
steps_p09= pd.read_csv(load_steps_p09)
steps_p10= pd.read_csv(load_steps_p10)
steps_p11= pd.read_csv(load_steps_p11)
steps_p12= pd.read_csv(load_steps_p12)
steps_p13= pd.read_csv(load_steps_p13)
steps_p14= pd.read_csv(load_steps_p14)
steps_p15= pd.read_csv(load_steps_p15)
steps_p16= pd.read_csv(load_steps_p16)

In [16]:
print(steps_p01.shape)
print(steps_p02.shape)
print(steps_p03.shape)
print(steps_p04.shape)
print(steps_p05.shape)
print(steps_p06.shape)
print(steps_p07.shape)
print(steps_p08.shape)
print(steps_p09.shape)
print(steps_p10.shape)
print(steps_p11.shape)
print(steps_p12.shape)
print(steps_p13.shape)
print(steps_p14.shape)
print(steps_p15.shape)
print(steps_p16.shape)

(117, 3)
(136, 3)
(47, 3)
(116, 3)
(86, 3)
(89, 3)
(124, 3)
(122, 3)
(37, 3)
(83, 3)
(61, 3)
(55, 3)
(29, 3)
(116, 3)
(136, 3)
(18, 3)

In [17]:
# Merrging all participant steps
steps= pd.concat([steps_p01, steps_p02, steps_p03, steps_p04, steps_p05, steps_p06, steps_p07,
                    steps_p08, steps_p09, steps_p10, steps_p11, steps_p12, steps_p13,
                    steps_p14, steps_p15, steps_p16])
print(steps.shape)
steps

(1372, 3)

   Participant_ID       Dates   Steps
0             p01  2019-11-01  4664.0
1             p01  2019-11-02  3035.0
2             p01  2019-11-04  1284.0
3             p01  2019-11-05  4966.0
4             p01  2019-11-08  2094.0
..            ...         ...     ...
13            p16  2020-02-22  4638.0
14            p16  2020-03-09  1064.0
15            p16  2020-03-16  1030.0
16            p16  2020-03-20  1067.0
17            p16  2020-03-29     0.0

[1372 rows x 3 columns]

In [18]:
# saving steps file to csv
file_to_save2 = steps.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/steps.csv', index = False)

# Distance - For all Participants

In [19]:
load_distance_p01 = '../Resource/dataset/csv/cleaned_csv/p01/distance_p01.csv'
load_distance_p02 = '../Resource/dataset/csv/cleaned_csv/p02/distance_p02.csv'
load_distance_p03 = '../Resource/dataset/csv/cleaned_csv/p03/distance_p03.csv'
load_distance_p04 = '../Resource/dataset/csv/cleaned_csv/p04/distance_p04.csv'
load_distance_p05 = '../Resource/dataset/csv/cleaned_csv/p05/distance_p05.csv'
load_distance_p06 = '../Resource/dataset/csv/cleaned_csv/p06/distance_p06.csv'
load_distance_p07 = '../Resource/dataset/csv/cleaned_csv/p07/distance_p07.csv'
load_distance_p08 = '../Resource/dataset/csv/cleaned_csv/p08/distance_p08.csv'
load_distance_p09 = '../Resource/dataset/csv/cleaned_csv/p09/distance_p09.csv'
load_distance_p10 = '../Resource/dataset/csv/cleaned_csv/p10/distance_p10.csv'
load_distance_p11 = '../Resource/dataset/csv/cleaned_csv/p11/distance_p11.csv'
load_distance_p12 = '../Resource/dataset/csv/cleaned_csv/p12/distance_p12.csv'
load_distance_p13 = '../Resource/dataset/csv/cleaned_csv/p13/distance_p13.csv'
load_distance_p14 = '../Resource/dataset/csv/cleaned_csv/p14/distance_p14.csv'
load_distance_p15 = '../Resource/dataset/csv/cleaned_csv/p15/distance_p15.csv'
load_distance_p16 = '../Resource/dataset/csv/cleaned_csv/p16/distance_p16.csv'

In [20]:
distance_p01= pd.read_csv(load_distance_p01)
distance_p02= pd.read_csv(load_distance_p02)
distance_p03= pd.read_csv(load_distance_p03)
distance_p04= pd.read_csv(load_distance_p04)
distance_p05= pd.read_csv(load_distance_p05)
distance_p06= pd.read_csv(load_distance_p06)
distance_p07= pd.read_csv(load_distance_p07)
distance_p08= pd.read_csv(load_distance_p08)
distance_p09= pd.read_csv(load_distance_p09)
distance_p10= pd.read_csv(load_distance_p10)
distance_p11= pd.read_csv(load_distance_p11)
distance_p12= pd.read_csv(load_distance_p12)
distance_p13= pd.read_csv(load_distance_p13)
distance_p14= pd.read_csv(load_distance_p14)
distance_p15= pd.read_csv(load_distance_p15)
distance_p16= pd.read_csv(load_distance_p16)

In [21]:
print(distance_p01.shape)
print(distance_p02.shape)
print(distance_p03.shape)
print(distance_p04.shape)
print(distance_p05.shape)
print(distance_p06.shape)
print(distance_p07.shape)
print(distance_p08.shape)
print(distance_p09.shape)
print(distance_p10.shape)
print(distance_p11.shape)
print(distance_p12.shape)
print(distance_p13.shape)
print(distance_p14.shape)
print(distance_p15.shape)
print(distance_p16.shape)

(117, 3)
(136, 3)
(47, 3)
(116, 3)
(86, 3)
(89, 3)
(124, 3)
(122, 3)
(37, 3)
(83, 3)
(61, 3)
(55, 3)
(29, 3)
(116, 3)
(136, 3)
(152, 3)

In [22]:
# Merrging all participant distance
distance= pd.concat([distance_p01, distance_p02, distance_p03, distance_p04, distance_p05, distance_p06, distance_p07,
                    distance_p08, distance_p09, distance_p10, distance_p11, distance_p12, distance_p13,
                    distance_p14, distance_p15, distance_p16])
print(distance.shape)
distance

(1506, 3)

    Participant_ID       Dates  Distance
0              p01  2019-11-01  0.000000
1              p01  2019-11-02  0.000000
2              p01  2019-11-04  0.000000
3              p01  2019-11-05  3.846164
4              p01  2019-11-08  0.000000
..             ...         ...       ...
147            p16  2020-03-27  1.559000
148            p16  2020-03-28  0.441800
149            p16  2020-03-29  1.290200
150            p16  2020-03-30  1.312400
151            p16  2020-03-31  0.583200

[1506 rows x 3 columns]

In [23]:
# saving distance file to csv
file_to_save3 = distance.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/distance.csv', index = False)

# Active Duration - For all Participants

In [24]:
load_active_duration_p01 = '../Resource/dataset/csv/cleaned_csv/p01/active_duration_p01.csv'
load_active_duration_p02 = '../Resource/dataset/csv/cleaned_csv/p02/active_duration_p02.csv'
load_active_duration_p03 = '../Resource/dataset/csv/cleaned_csv/p03/active_duration_p03.csv'
load_active_duration_p04 = '../Resource/dataset/csv/cleaned_csv/p04/active_duration_p04.csv'
load_active_duration_p05 = '../Resource/dataset/csv/cleaned_csv/p05/active_duration_p05.csv'
load_active_duration_p06 = '../Resource/dataset/csv/cleaned_csv/p06/active_duration_p06.csv'
load_active_duration_p07 = '../Resource/dataset/csv/cleaned_csv/p07/active_duration_p07.csv'
load_active_duration_p08 = '../Resource/dataset/csv/cleaned_csv/p08/active_duration_p08.csv'
load_active_duration_p09 = '../Resource/dataset/csv/cleaned_csv/p09/active_duration_p09.csv'
load_active_duration_p10 = '../Resource/dataset/csv/cleaned_csv/p10/active_duration_p10.csv'
load_active_duration_p11 = '../Resource/dataset/csv/cleaned_csv/p11/active_duration_p11.csv'
load_active_duration_p12 = '../Resource/dataset/csv/cleaned_csv/p12/active_duration_p12.csv'
load_active_duration_p13 = '../Resource/dataset/csv/cleaned_csv/p13/active_duration_p13.csv'
load_active_duration_p14 = '../Resource/dataset/csv/cleaned_csv/p14/active_duration_p14.csv'
load_active_duration_p15 = '../Resource/dataset/csv/cleaned_csv/p15/active_duration_p15.csv'
load_active_duration_p16 = '../Resource/dataset/csv/cleaned_csv/p16/active_duration_p16.csv'

In [25]:
active_duration_p01= pd.read_csv(load_active_duration_p01)
active_duration_p02= pd.read_csv(load_active_duration_p02)
active_duration_p03= pd.read_csv(load_active_duration_p03)
active_duration_p04= pd.read_csv(load_active_duration_p04)
active_duration_p05= pd.read_csv(load_active_duration_p05)
active_duration_p06= pd.read_csv(load_active_duration_p06)
active_duration_p07= pd.read_csv(load_active_duration_p07)
active_duration_p08= pd.read_csv(load_active_duration_p08)
active_duration_p09= pd.read_csv(load_active_duration_p09)
active_duration_p10= pd.read_csv(load_active_duration_p10)
active_duration_p11= pd.read_csv(load_active_duration_p11)
active_duration_p12= pd.read_csv(load_active_duration_p12)
active_duration_p13= pd.read_csv(load_active_duration_p13)
active_duration_p14= pd.read_csv(load_active_duration_p14)
active_duration_p15= pd.read_csv(load_active_duration_p15)
active_duration_p16= pd.read_csv(load_active_duration_p16)

In [26]:
print(active_duration_p01.shape)
print(active_duration_p02.shape)
print(active_duration_p03.shape)
print(active_duration_p04.shape)
print(active_duration_p05.shape)
print(active_duration_p06.shape)
print(active_duration_p07.shape)
print(active_duration_p08.shape)
print(active_duration_p09.shape)
print(active_duration_p10.shape)
print(active_duration_p11.shape)
print(active_duration_p12.shape)
print(active_duration_p13.shape)
print(active_duration_p14.shape)
print(active_duration_p15.shape)
print(active_duration_p16.shape)

(117, 3)
(136, 3)
(47, 3)
(116, 3)
(86, 3)
(89, 3)
(124, 3)
(122, 3)
(37, 3)
(83, 3)
(61, 3)
(55, 3)
(29, 3)
(116, 3)
(136, 3)
(18, 3)

In [27]:
# Merrging all participant active_duration
active_duration= pd.concat([active_duration_p01, active_duration_p02, active_duration_p03, active_duration_p04, active_duration_p05, active_duration_p06, active_duration_p07,
                    active_duration_p08, active_duration_p09, active_duration_p10, active_duration_p11, active_duration_p12, active_duration_p13,
                    active_duration_p14, active_duration_p15, active_duration_p16])
print(active_duration.shape)
active_duration

(1372, 3)

   Participant_ID       Dates  Active_Duration_in_mins
0             p01  2019-11-01                58.883333
1             p01  2019-11-02                40.966667
2             p01  2019-11-04                17.066667
3             p01  2019-11-05                40.550000
4             p01  2019-11-08                30.733333
..            ...         ...                      ...
13            p16  2020-02-22                54.633333
14            p16  2020-03-09                15.366667
15            p16  2020-03-16                17.066667
16            p16  2020-03-20                19.633333
17            p16  2020-03-29                23.900000

[1372 rows x 3 columns]

In [28]:
# saving active_duration file to csv
file_to_save4 = active_duration.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/active_duration.csv', index = False)

# Avg. Active Heart - For all Participants

In [29]:
load_active_heart_rate_p01 = '../Resource/dataset/csv/cleaned_csv/p01/active_heart_rate_p01.csv'
load_active_heart_rate_p02 = '../Resource/dataset/csv/cleaned_csv/p02/active_heart_rate_p02.csv'
load_active_heart_rate_p03 = '../Resource/dataset/csv/cleaned_csv/p03/active_heart_rate_p03.csv'
load_active_heart_rate_p04 = '../Resource/dataset/csv/cleaned_csv/p04/active_heart_rate_p04.csv'
load_active_heart_rate_p05 = '../Resource/dataset/csv/cleaned_csv/p05/active_heart_rate_p05.csv'
load_active_heart_rate_p06 = '../Resource/dataset/csv/cleaned_csv/p06/active_heart_rate_p06.csv'
load_active_heart_rate_p07 = '../Resource/dataset/csv/cleaned_csv/p07/active_heart_rate_p07.csv'
load_active_heart_rate_p08 = '../Resource/dataset/csv/cleaned_csv/p08/active_heart_rate_p08.csv'
load_active_heart_rate_p09 = '../Resource/dataset/csv/cleaned_csv/p09/active_heart_rate_p09.csv'
load_active_heart_rate_p10 = '../Resource/dataset/csv/cleaned_csv/p10/active_heart_rate_p10.csv'
load_active_heart_rate_p11 = '../Resource/dataset/csv/cleaned_csv/p11/active_heart_rate_p11.csv'
load_active_heart_rate_p12 = '../Resource/dataset/csv/cleaned_csv/p12/active_heart_rate_p12.csv'
load_active_heart_rate_p13 = '../Resource/dataset/csv/cleaned_csv/p13/active_heart_rate_p13.csv'
load_active_heart_rate_p14 = '../Resource/dataset/csv/cleaned_csv/p14/active_heart_rate_p14.csv'
load_active_heart_rate_p15 = '../Resource/dataset/csv/cleaned_csv/p15/active_heart_rate_p15.csv'
load_active_heart_rate_p16 = '../Resource/dataset/csv/cleaned_csv/p16/active_heart_rate_p16.csv'

In [30]:
active_heart_rate_p01= pd.read_csv(load_active_heart_rate_p01)
active_heart_rate_p02= pd.read_csv(load_active_heart_rate_p02)
active_heart_rate_p03= pd.read_csv(load_active_heart_rate_p03)
active_heart_rate_p04= pd.read_csv(load_active_heart_rate_p04)
active_heart_rate_p05= pd.read_csv(load_active_heart_rate_p05)
active_heart_rate_p06= pd.read_csv(load_active_heart_rate_p06)
active_heart_rate_p07= pd.read_csv(load_active_heart_rate_p07)
active_heart_rate_p08= pd.read_csv(load_active_heart_rate_p08)
active_heart_rate_p09= pd.read_csv(load_active_heart_rate_p09)
active_heart_rate_p10= pd.read_csv(load_active_heart_rate_p10)
active_heart_rate_p11= pd.read_csv(load_active_heart_rate_p11)
active_heart_rate_p12= pd.read_csv(load_active_heart_rate_p12)
active_heart_rate_p13= pd.read_csv(load_active_heart_rate_p13)
active_heart_rate_p14= pd.read_csv(load_active_heart_rate_p14)
active_heart_rate_p15= pd.read_csv(load_active_heart_rate_p15)
active_heart_rate_p16= pd.read_csv(load_active_heart_rate_p16)

In [31]:
print(active_heart_rate_p01.shape)
print(active_heart_rate_p02.shape)
print(active_heart_rate_p03.shape)
print(active_heart_rate_p04.shape)
print(active_heart_rate_p05.shape)
print(active_heart_rate_p06.shape)
print(active_heart_rate_p07.shape)
print(active_heart_rate_p08.shape)
print(active_heart_rate_p09.shape)
print(active_heart_rate_p10.shape)
print(active_heart_rate_p11.shape)
print(active_heart_rate_p12.shape)
print(active_heart_rate_p13.shape)
print(active_heart_rate_p14.shape)
print(active_heart_rate_p15.shape)
print(active_heart_rate_p16.shape)

(190, 4)
(324, 4)
(57, 4)
(161, 4)
(145, 4)
(161, 4)
(176, 4)
(261, 4)
(54, 4)
(140, 4)
(96, 4)
(93, 4)
(50, 4)
(270, 4)
(243, 4)
(19, 4)

In [32]:
# Merrging all participant active_heart_rate
active_heart_rate= pd.concat([active_heart_rate_p01, active_heart_rate_p02, active_heart_rate_p03, active_heart_rate_p04, 
                              active_heart_rate_p05, active_heart_rate_p06, active_heart_rate_p07,active_heart_rate_p08, 
                              active_heart_rate_p09, active_heart_rate_p10, active_heart_rate_p11, active_heart_rate_p12, 
                              active_heart_rate_p13, active_heart_rate_p14, active_heart_rate_p15, active_heart_rate_p16])
print(active_heart_rate.shape)
active_heart_rate

(2440, 4)

   Participant_ID       Dates      Time  Avg_ActiveHeartRate
0             p01  2019-11-01  14:56:32                 94.0
1             p01  2019-11-01  19:03:11                 94.0
2             p01  2019-11-02  13:26:38                 98.0
3             p01  2019-11-04  21:22:08                 97.0
4             p01  2019-11-05  19:27:25                 93.0
..            ...         ...       ...                  ...
14            p16  2020-02-22  22:04:48                118.0
15            p16  2020-03-09  21:41:32                102.0
16            p16  2020-03-16  11:04:40                106.0
17            p16  2020-03-20  11:14:05                106.0
18            p16  2020-03-29  00:00:35                 71.0

[2440 rows x 4 columns]

In [33]:
# saving active_heart rate file to csv
file_to_save2 = active_heart_rate.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/active_heart_rate.csv', index = False)

# Sleep - For all Participant

In [34]:
load_sleep_p01 = '../Resource/dataset/csv/cleaned_csv/p01/sleep_p01.csv'
load_sleep_p02 = '../Resource/dataset/csv/cleaned_csv/p02/sleep_p02.csv'
load_sleep_p03 = '../Resource/dataset/csv/cleaned_csv/p03/sleep_p03.csv'
load_sleep_p04 = '../Resource/dataset/csv/cleaned_csv/p04/sleep_p04.csv'
load_sleep_p05 = '../Resource/dataset/csv/cleaned_csv/p05/sleep_p05.csv'
load_sleep_p06 = '../Resource/dataset/csv/cleaned_csv/p06/sleep_p06.csv'
load_sleep_p07 = '../Resource/dataset/csv/cleaned_csv/p07/sleep_p07.csv'
load_sleep_p08 = '../Resource/dataset/csv/cleaned_csv/p08/sleep_p08.csv'
load_sleep_p09 = '../Resource/dataset/csv/cleaned_csv/p09/sleep_p09.csv'
load_sleep_p10 = '../Resource/dataset/csv/cleaned_csv/p10/sleep_p10.csv'
load_sleep_p11 = '../Resource/dataset/csv/cleaned_csv/p11/sleep_p11.csv'
load_sleep_p12 = '../Resource/dataset/csv/cleaned_csv/p12/sleep_p12.csv'
load_sleep_p13 = '../Resource/dataset/csv/cleaned_csv/p13/sleep_p13.csv'
load_sleep_p14 = '../Resource/dataset/csv/cleaned_csv/p14/sleep_p14.csv'
load_sleep_p15 = '../Resource/dataset/csv/cleaned_csv/p15/sleep_p15.csv'
load_sleep_p16 = '../Resource/dataset/csv/cleaned_csv/p16/sleep_p16.csv'

In [35]:
sleep_p01= pd.read_csv(load_sleep_p01)
sleep_p02= pd.read_csv(load_sleep_p02)
sleep_p03= pd.read_csv(load_sleep_p03)
sleep_p04= pd.read_csv(load_sleep_p04)
sleep_p05= pd.read_csv(load_sleep_p05)
sleep_p06= pd.read_csv(load_sleep_p06)
sleep_p07= pd.read_csv(load_sleep_p07)
sleep_p08= pd.read_csv(load_sleep_p08)
sleep_p09= pd.read_csv(load_sleep_p09)
sleep_p10= pd.read_csv(load_sleep_p10)
sleep_p11= pd.read_csv(load_sleep_p11)
sleep_p12= pd.read_csv(load_sleep_p12)
sleep_p13= pd.read_csv(load_sleep_p13)
sleep_p14= pd.read_csv(load_sleep_p14)
sleep_p15= pd.read_csv(load_sleep_p15)
sleep_p16= pd.read_csv(load_sleep_p16)

In [36]:
print(sleep_p01.shape)
print(sleep_p02.shape)
print(sleep_p03.shape)
print(sleep_p04.shape)
print(sleep_p05.shape)
print(sleep_p06.shape)
print(sleep_p07.shape)
print(sleep_p08.shape)
print(sleep_p09.shape)
print(sleep_p10.shape)
print(sleep_p11.shape)
print(sleep_p12.shape)
print(sleep_p13.shape)
print(sleep_p14.shape)
print(sleep_p15.shape)
print(sleep_p16.shape)

(150, 3)
(153, 3)
(81, 3)
(182, 3)
(128, 3)
(160, 3)
(157, 3)
(139, 3)
(137, 3)
(101, 3)
(124, 3)
(8, 3)
(55, 3)
(134, 3)
(144, 3)
(148, 3)

In [37]:
# Merrging all participant sleeps
sleep= pd.concat([sleep_p01, sleep_p02, sleep_p03, sleep_p04, sleep_p05, sleep_p06, sleep_p07,
                    sleep_p08, sleep_p09, sleep_p10, sleep_p11, sleep_p12, sleep_p13,
                    sleep_p14, sleep_p15, sleep_p16])
print(sleep.shape)
sleep

(2001, 3)

    Participant_ID Date_Of_Sleep  Minutes_Asleep
0              p01    2019-11-02             378
1              p01    2019-11-03             378
2              p01    2019-11-04             361
3              p01    2019-11-05             326
4              p01    2019-11-06             341
..             ...           ...             ...
143            p16    2020-03-27             469
144            p16    2020-03-28             419
145            p16    2020-03-29             442
146            p16    2020-03-30             485
147            p16    2020-03-31             385

[2001 rows x 3 columns]

In [38]:
# saving sleep file to csv
file_to_save2 = sleep.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/sleep.csv', index = False)

# Resting Heart Rate - For all Participants

In [39]:
load_resting_heartrate_p01 = '../Resource/dataset/csv/cleaned_csv/p01/resting_heartrate_p01.csv'
load_resting_heartrate_p02 = '../Resource/dataset/csv/cleaned_csv/p02/resting_heartrate_p02.csv'
load_resting_heartrate_p03 = '../Resource/dataset/csv/cleaned_csv/p03/resting_heartrate_p03.csv'
load_resting_heartrate_p04 = '../Resource/dataset/csv/cleaned_csv/p04/resting_heartrate_p04.csv'
load_resting_heartrate_p05 = '../Resource/dataset/csv/cleaned_csv/p05/resting_heartrate_p05.csv'
load_resting_heartrate_p06 = '../Resource/dataset/csv/cleaned_csv/p06/resting_heartrate_p06.csv'
load_resting_heartrate_p07 = '../Resource/dataset/csv/cleaned_csv/p07/resting_heartrate_p07.csv'
load_resting_heartrate_p08 = '../Resource/dataset/csv/cleaned_csv/p08/resting_heartrate_p08.csv'
load_resting_heartrate_p09 = '../Resource/dataset/csv/cleaned_csv/p09/resting_heartrate_p09.csv'
load_resting_heartrate_p10 = '../Resource/dataset/csv/cleaned_csv/p10/resting_heartrate_p10.csv'
load_resting_heartrate_p11 = '../Resource/dataset/csv/cleaned_csv/p11/resting_heartrate_p11.csv'
#load_resting_heartrate_p12 = '../Resource/dataset/csv/cleaned_csv/p12/resting_heartrate_p12.csv'
#load_resting_heartrate_p13 = '../Resource/dataset/csv/cleaned_csv/p13/resting_heartrate_p13.csv'
load_resting_heartrate_p14 = '../Resource/dataset/csv/cleaned_csv/p14/resting_heartrate_p14.csv'
load_resting_heartrate_p15 = '../Resource/dataset/csv/cleaned_csv/p15/resting_heartrate_p15.csv'
load_resting_heartrate_p16 = '../Resource/dataset/csv/cleaned_csv/p16/resting_heartrate_p16.csv'

In [40]:
resting_heartrate_p01= pd.read_csv(load_resting_heartrate_p01)
resting_heartrate_p02= pd.read_csv(load_resting_heartrate_p02)
resting_heartrate_p03= pd.read_csv(load_resting_heartrate_p03)
resting_heartrate_p04= pd.read_csv(load_resting_heartrate_p04)
resting_heartrate_p05= pd.read_csv(load_resting_heartrate_p05)
resting_heartrate_p06= pd.read_csv(load_resting_heartrate_p06)
resting_heartrate_p07= pd.read_csv(load_resting_heartrate_p07)
resting_heartrate_p08= pd.read_csv(load_resting_heartrate_p08)
resting_heartrate_p09= pd.read_csv(load_resting_heartrate_p09)
resting_heartrate_p10= pd.read_csv(load_resting_heartrate_p10)
resting_heartrate_p11= pd.read_csv(load_resting_heartrate_p11)
#resting_heartrate_p12= pd.read_csv(load_resting_heartrate_p12)
#resting_heartrate_p13= pd.read_csv(load_resting_heartrate_p13)
resting_heartrate_p14= pd.read_csv(load_resting_heartrate_p14)
resting_heartrate_p15= pd.read_csv(load_resting_heartrate_p15)
resting_heartrate_p16= pd.read_csv(load_resting_heartrate_p16)

In [41]:
print(resting_heartrate_p01.shape)
print(resting_heartrate_p02.shape)
print(resting_heartrate_p03.shape)
print(resting_heartrate_p04.shape)
print(resting_heartrate_p05.shape)
print(resting_heartrate_p06.shape)
print(resting_heartrate_p07.shape)
print(resting_heartrate_p08.shape)
print(resting_heartrate_p09.shape)
print(resting_heartrate_p10.shape)
print(resting_heartrate_p11.shape)
#print(resting_heartrate_p12.shape)
#print(resting_heartrate_p13.shape)
print(resting_heartrate_p14.shape)
print(resting_heartrate_p15.shape)
print(resting_heartrate_p16.shape)

(152, 3)
(91, 3)
(152, 3)
(35, 3)
(95, 3)
(152, 3)
(148, 3)
(143, 3)
(152, 3)
(148, 3)
(98, 3)
(140, 3)
(145, 3)
(152, 3)

In [42]:
# Merrging all participant resting_heartrates
resting_heartrate= pd.concat([resting_heartrate_p01, resting_heartrate_p02, resting_heartrate_p03, resting_heartrate_p04, 
                              resting_heartrate_p05, resting_heartrate_p06, resting_heartrate_p07,resting_heartrate_p08, 
                              resting_heartrate_p09, resting_heartrate_p10, resting_heartrate_p11, resting_heartrate_p14, 
                              resting_heartrate_p15, resting_heartrate_p16])
print(resting_heartrate.shape)
resting_heartrate

(1803, 3)

    Participant_ID       Dates  Resting_beats_per_min
0              p01  2019-11-01              53.741074
1              p01  2019-11-02              52.881497
2              p01  2019-11-03              53.222024
3              p01  2019-11-04              54.311141
4              p01  2019-11-05              52.259110
..             ...         ...                    ...
147            p16  2020-03-27              68.890767
148            p16  2020-03-28              68.036634
149            p16  2020-03-29              66.626012
150            p16  2020-03-30              65.947171
151            p16  2020-03-31              65.907543

[1803 rows x 3 columns]

In [43]:
# saving resting_heartrate file to csv
file_to_save2 = resting_heartrate.to_csv(r'../Resource/dataset/csv/final_merged_all_participants/resting_heartrate.csv', index = False)